html,
body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
}

section {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.container {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inactive {
  opacity: 0.5;
  pointer-events: none;
}

#restartButton {
  position: absolute;
  top: 5rem;
  left: 46%;
}

.winner {
  background: yellow;
}
